.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    font-size: 48px;
    margin: 20px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255, 230, 210); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(252, 200, 141); 
}